.wht-box {
  background-color: #fff;
  padding: 10px;
  margin: 5px 5px 10px 5px;
  border-radius: 5px;
}

.wht-box h3 {
  margin: 0 0 15px 0;
}

.wht-box input {
  padding: 4px;
  width: 75%;
}

.wht-box h5 {
  margin: 0;
}

.wht-box i {
  color: #888888;
}

.wht-box i,
.wht-box p {
  font-size: 12px;;
}

a {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.search.icon {
  color: #000;
  position: absolute;
  margin-top: 5px;
  margin-left: 3px;
  width: 12px;
  height: 12px;
  border: solid 1px currentColor;
  border-radius: 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.search.icon:before {
  content: '';
  position: absolute;
  top: 13px;
  left: 5px;
  height: 6px;
  width: 1px;
  background-color: currentColor;
}
