<div class="wht-box">
  <h3>Search</h3>
  <input type="text" placeholder="Enter keywors...">&nbsp;<span class="search icon"></span>
</div>

<div class="wht-box">
  <h3>Latest News</h3>
  <h5>Viverra justo nec</h5>
  <i>January 1st, 2020</i>
  <p>At tempor commodo ulcorper a lacus ... <a routerLink="/sideApp/details">read more</a></p>
  <hr>

  <h5>Justo nec ultrices</h5>
  <i>January 21st, 2020</i>
  <p>Porttitor lacus luctus accu posuere una... <a routerLink="/sideApp/details">read more</a></p>
  <hr>

  <h5>Maecenas sed enim ut</h5>
  <i>January 31st, 2020</i>
  <p>Sed lectus vestibulum mattis cursus... <a routerLink="/sideApp/details">read more</a></p>
</div>
