<h2>Welcome to the Micro Frontend demo</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br><br>
    <b>AuthToken: </b> <i style="color: red;">{{ authToken }}</i>
</p>
<h3>{{ heading }}</h3>
<p>
    Laoreet non curabitur gravida arcu ac tortor dignissim convallis. Hendrerit dolor magna eget est lorem ipsum. Risus sed vulputate odio ut enim blandit volutpat maecenas volutpat. In nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque.
</p>
<hr>


<router-outlet></router-outlet>