<h2>This section is from another app</h2>
<p>
    Porta lorem mollis aliquam ut porttitor. Dictum fusce ut placerat orci nulla pellentesque dignissim. Aenean et tortor at risus viverra adipiscing at in tellus. Egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices. Metus dictum at tempor commodo ullamcorper a. Diam sollicitudin tempor id eu nisl nunc mi ipsum. Non enim praesent elementum facilisis leo vel. Odio euismod lacinia at quis. Neque gravida in fermentum et sollicitudin.
    <button (click)="ce_changeHead()">Change Heading</button>
</p>


<router-outlet></router-outlet>