<div class="wht-box">
  <h3>News Details</h3>
  <h4>This is a news heading</h4>
  <i><b>Published date:</b> January 1st, 2020</i>
  <hr>
  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p> 
  <p>
    <a routerLink="/sideApp/home">Back</a>
  </p>
</div>
