<h3>Your account statement</h3>
<p><b>Account Number:</b> 237585958409 &nbsp;&nbsp;&nbsp;&nbsp; <b>Balance:</b> $4000.00</p>

<table>
  <tr>
    <th>Date</th>
    <th>Details</th>
    <th>Amount</th>
  </tr>
  <tr (click) = "statDetails()">
    <td>5 Jan 2020</td>
    <td>BIL/FoodJunction/6738394</td>
    <td align="right">$ 12.90 <sup>Dr</sup></td>
  </tr>
  <tr (click) = "statDetails()">
    <td>5 Jan 2020</td>
    <td>WDM/IShDraw34/0988391</td>
    <td align="right">$ 345.00 <sup>Dr</sup></td>
  </tr>
  <tr (click) = "statDetails()">
    <td>4 Jan 2020</td>
    <td>CSH/ATM Withdraw/893746</td>
    <td align="right">$ 100.00 <sup>Dr</sup></td>
  </tr>
  <tr (click) = "statDetails()">
    <td>3 Jan 2020</td>
    <td>DGR/RYLClonhd/095733</td>
    <td align="right">$ 9.31 <sup>Dr</sup></td>
  </tr>
  <tr (click) = "statDetails()">
    <td>3 Jan 2020</td>
    <td>JLL/PRV6789WR67X/546733</td>
    <td align="right">$ 97.33 <sup>Dr</sup></td>
  </tr>
  <tr (click) = "statDetails()">
    <td>2 Jan 2020</td>
    <td>BIL/SWTWines/380394</td>
    <td align="right">$ 24.96 <sup>Dr</sup></td>
  </tr>
  <tr (click) = "statDetails()">
    <td>2 Jan 2020</td>
    <td>STY/BritSwift560/653394</td>
    <td align="right">$ 204.96 <sup>Dr</sup></td>
  </tr>
  <tr (click) = "statDetails()">
    <td>1 Jan 2020</td>
    <td>TRF/JobSalary/658394</td>
    <td align="right">$ 1234.67 <sup>Cr</sup></td>
  </tr>
</table>